.postsSection {
	flex: 1;
	max-width: 1400px;
	padding: 12px;
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;

	padding: 50px 0;
	color: var(--black);
}

.pageNumHeader {
	color: var(--carbon);
}

.pageContainer {
	display: flex;
	align-items: center;
	gap: 12px;
}

.postContainer {
	width: 96%;
	padding: 20px;
	border-left: 4px solid var(--emerald);
	border-top: 2px solid var(--green);
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;

	background-image: linear-gradient(var(--steel), var(--aluminum));
	box-shadow: 2px 2px 5px var(--iron);
}

.postTitle {
	color: var(--blue);
}

.postContentContainer {
	align-self: center;
	width: 96%;
	padding: 20px;
	border-radius: 6px;

	display: flex;
	flex-direction: column;

	background-image: linear-gradient(var(--white), var(--platinum));
	box-shadow: -1px -1px 3px var(--emerald);
}

.postContent {
	padding-bottom: 20px;
}

.createdDate,
.editedDate {
	align-self: flex-end;
	color: var(--iron);
	font-size: 13px;
}

.commentsContainer {
	align-self: center;
	width: 96%;
	padding: 20px;
	border-radius: 6px;

	display: flex;
	flex-direction: column;

	background-image: linear-gradient(var(--platinum), var(--silver));
	box-shadow: -1px -1px 3px var(--emerald);
}

.commentHeader {
	padding-bottom: 20px;
}

.noComments {
	color: var(--iron);
	align-self: center;
}

.commentContainer {
	padding: 10px 0;
	border-top: 1px solid var(--slate);
	display: flex;
	gap: 10px;
}

.commentContentContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 6px;
	align-items: flex-start;
}

.avatar {
	height: 70px;
	width: 70px;
	padding: 8px;
	border: 1px solid var(--slate);
	border-radius: 3px;
	background-color: var(--white);
}

.postContainer a {
	text-decoration: none;
	color: var(--blue);
}

.postDetailLink {
	align-self: center;
}

.postDetailBtn {
	margin-top: 12px;
	height: 30px;
	padding: 0 30px;
	border-radius: 15px;
	border: 1px solid var(--emerald);
	background-color: var(--teal);
	color: var(--platinum);
	box-shadow: 2px 2px 3px var(--carbon);
	cursor: pointer;
}

.previousBtn,
.nextBtn {
	height: 30px;
	padding: 0 15px;
	border-radius: 15px;
	border: 1px solid var(--emerald);
	background-color: var(--teal);
	color: var(--platinum);
	box-shadow: 2px 2px 3px var(--iron);
	cursor: pointer;
}
